*xcuserdata*
Packages
packages*
*xcuserstate*
Payload*
Payload
/.vscode
.mentat/logs/
.swiftpm/
.build/
.DS_Store
*.swp
.swiftlint.txt
*.swift.orig
.swiftpm/
.build/
*.swp
.swiftlint.txt
*.swift.orig
