*xcuserdata*
*.DS_Store
.theos
Packages
packages*
*xcuserstate*
Payload*
Payload
/.vscode

# Mentat tools
.mentat/logs/
.swiftpm/
.build/
.DS_Store
*.swp
*~

# SwiftLint
.swiftlint.txt

# SwiftFormat
*.swift.orig
